

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body,html{
    margin: 0;
    padding:0px;
    font-family: "Montserrat", sans-serif;
    
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 10px 0px;
 
    
}

.logo{
    width: 100px;
    cursor: pointer;
    padding: 0px 50px;
  
}

.links{
    cursor: pointer;
    display: flex;
    gap:30px;
    list-style: none;
    padding: 20px 90px;
    font-size: 20px;
    font-weight: 500;
    
   
}
.links li a {
    text-decoration: none;
    color: inherit;
}




.search{
    margin:20px 30px;
    padding: 20px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    font-family: "Montserrat", sans-serif;
    cursor:pointer;


}
.search-container{
    display: flex;

   
}

.load{
    text-align: center;
    font-size: 60px;
}


.bar{
    margin: 30px 30px;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
}
.res-container{
    padding: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}

.resCard{
    padding: 5px;
    border:1px solid black;
    width: 280px;
    cursor: pointer; 
    margin: 0px 30px;
    margin-bottom: 30px;
    transition: transform 400ms ease-in-out;
    border-radius: 8px;
    background-color: antiquewhite;
}

.resCard:hover{
    transform: scale(1.1);
}

.res-logo{
    width: 100%;
    height: 250px;
    cursor: pointer; 
    margin: auto;
}

.res-info{
   text-align: center;
  
}

.res-link {
    text-decoration: none;
    color: inherit;
}
.menu{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.menu-info{
    padding-left: 140px;
   
    
}
.menu-info h1{
    font-size: 50px;
    
}
.menu-info h3,h1{
    text-align: center;
}
.menu-img-item{
    width: 70%;
    border-radius: 20%;
   
}

.user-about{
    border:1px solid black;
    margin: 50px;
    padding :20px ; 
    text-align: center;
    
}

.offline-text{
    text-align: center;
    font-size: 60px;
    font-weight: 500;
}

 */
